<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Kalmar cykelklubb - Historia</title>
    <link rel="stylesheet" href="../style/main.css"  />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <!-- Main section -->
    <section id='historiasection'>
      <div id='navbar'>
        <ul class="menulinks close">
          <li>
            <a href='../index.html'>Hem</a>
          </li>
          <li>
            <a href='../index.html#pagang'>Verksamhet</a>
          </li>
          <li>
            <a href='../index.html#omoss'>Om oss</a>
          </li>
          <li>
            <a href='../index.html#kontakt'>Kontakt</a>
          </li>
          <li>
            <a href='traning.html'>Träna med oss</a>
          </li>
        </ul>
        <a href="https://www.facebook.com/Kalmar-cykelklubb-175016142544675/?fref=ts" target="_blank"><i class="fa fa-facebook-official socialheader" style="font-size:36px;"></i></a>
        <div id="menubtn"><i class="fa fa-bars" aria-hidden="true" style="font-size: 24px; color: #ffffff;"></i></div>
        <a href='medlem.html'><button id="blimedlem">Bli medlem</button></a>
      </div>
      <div id="historiaheader">
        <h1>Kalmar Cykelklubb</h1>
        <h3>Ano 1896</h3>
      </div>
    </section>
    <section id="historiatext">
      <div class="contentwrapper">
        <div id="textcontent">
          <p>Kalmar Cykelklubb bildades år 1896. Den omvandlades och startades upp på nytt den 3 oktober år 1974 av
         f.d. cyklisten och landslagsskridskoåkaren Sture Engström i samarbete med dåvarande föreningssekreteraren vid
         KFUM/KFUK Lasse Roth. Cykel verksamheten hade då varit nedlagt sedan 1950-talets sista år och nu fanns ett intressant
          gäng Kalmarungdomar, som tidigare tävlat för Ålems Cykelklubb, men ville ha möjlighet till träning på hemmaplan.
          Till en början ställde unge Peter Engström numera ordförande i KFUM Basket, med pappa Stures hjälp som tränare,
          men mycket snart kom duktige Sören Andreasson att ta över tränarsysslan och han präglade klubben i den andan och kunskap
          han utstrålade till att klubben ett 25-tal aktiva ungdomscyklister både pojkar och flickor. Ett plus var också att Sören
          hade förmågan att ta tillvara den resurs föräldrarna utgjorde och som under många år präglade klubben. Sören hade också
          förmågan att få hit duktiga elitcyklister för att ge ungdomarna råd och tips.</p>
          <div class="imgwrapper">
            <div class="smallimg">
              <img src="../img/historia/KFUM-Bernt-J-oc-ungdomar1-e1447190623390.jpg" />
              <p class="imgtext">Magnus Josefsson, Tomas Gustafsson, Patrik Håkansson, Anders Land och Pontus Frankenstine. Fotograf okänd</p>
            </div>
            <div class="smallimg">
              <img src="../img/historia/KFUM-Bernt-J-oc-ungdomar-2-e1447190813609.jpg" />
              <p class="imgtext">Tomas Gustafsson, Anders Land, Bernt Johansson (OS-medaljör i Montreal 1976), Pontus Frankenstine och Patrik Håkansson. Fotograf okänd</p>
            </div>
          </div>
        </div>
        <div id="imgcontent">
          <img src="../img/historia/sorenandersson.jpg"  />
          <p class="imgtext">Sören Andersson, 1976-1982. Fotograf okänd</p>
        </div>
      </div>

      <div class="contentwrapper">
        <div class="columnone">
          <p>Bernt Johansson, OS-vinnaren 1976, var hos klubben både före och efter den fantastiska OS-vinsten. Ordförande Ludde Maslak
           och Karl-Erik Nilsson har också drivit klubben framåt. När Sören Andreasson slutade som tränare efterträddes han av
           Tomas Pettersson och i viss mån Magnus Nilsson. Dessa fick skörda mycket utav vad Sören byggt upp vid USM i Degerberga då
           Mattias Carlsson i U-klassen gick loss ensam och kunde vinna sin USM-seger. Den bästa placering i en stor ungdomstävling.
           Tidigare hade Jan Skagne med rötter i KFUM Cykelklubb blivit Nordisk mästare i Finland och Björn Bäckman, klubbens absolut
           bästa cyklist och elitcyklist, blev 6:a på SM 1992. Björn Bäckman drog över Atlanten och blev proffscyklist. Han deltog i
           VM tillsammans med 7-faldige Tour de France vinnare Lance Armstrong. Cykelklubben har även haft fler framgångar under
           slutet av 90-talet och början av 2000-talet där Joakim Åleheim, Fredrik Lindberg, Mattias Carlsson och Sead har sökt sig
           till andra klubbar för vidare avancemang.</p>
        </div>
        <div class="columntwo">
          <img src="../img/historia/Klubbbild-82-med-Jan-G-i-mitten.jpg"  />
          <p class="imgtext">1982 Fr. vänster bak: Jan Skagne, Björn B., Peter Gustavsson, Jan Gustavsson, Åsa Johansson-Hjälmberg, Tony Johansson.
Fran fr. vä.: Jan Johansson, Jimmy Johansson, Jonas Pettersson och Kent Roland Johansson. Fotograf okänd</p>
        </div>
        <div class="columnone">
          <img src="../img/historia/dasBbeVyJ3GWEKd-QFTS.jpg"  />
        </div>
        <div class="columntwo">
          <p>Under 2008 blev det ordförandebyte där första kvinnan nu sitter vid rodret Åsa Hjelmberg. Cykelklubben har fått en ny
            sport till klubben som Dirt/Freeride. Cykelklubben håller på med att bygga upp en permanent Dirtpark som ligger i skogen
            vid utfarten vid E22/Svaneberg. Cykelklubben är full gång med träning som Cykelmotion, men hopp finns om att klubben kan
            starta upp landsväg och Mtb för ungdomar. Under OS 2008 i Peking tog Sverige två OS-Silver genom Emma Johansson och
            Gustav Larsson och hoppas att det ska ge en nytändning av cykelsporten i Sverige. Klubben har sedan haft en huvudsakligen
            tynande verksamhet där seniorer har hållit igång med sin standardcykling med sikte på Vätternrundan och diverse motionslopp.
            En ungdomsverksamhet drogs igång 2011 som utvecklade ett fåtal. 2015 fick klubben en nyvald ordförande i Alf Granath som
            tillsammans med styrelsen har tagit nya tag för att upprätthålla det stora allmänintresset för cykling som motionsform.
            Klubben bytte namn och kläder och har fördubblat medlemsantalet under året. Vi syns på sociala medier och förbättrar
            träningen med nya mål.</p>
        </div>
      </div>
      <div class="contentwrapper">
        <div class="columntwo">
          <img src="../img/historia/Artikel-Cykelsatsning...-83-1.jpg"  />
            <p class="imgtext">På den här bilden finns Tony Johansson, Anders Land, Johan Svensson, Anders Gustavsson, Björn Bäckman, Jan Gustavsson och Tomas Gustavsson. Fotograf okänd</p>
        </div>
        <div class="columntwo">
          <img src="../img/historia/vintercyklister.jpg"  />
            <p class="imgtext">Fr vänster fram: Per Wassberg, Björn Bäckman, bakom Per skymtar Bengan till höger och bakom Björn; Magnus Nilsson, Stefan Hallberg syns till höger fram. Fotograf okänd</p>
        </div>
      </div>
    </section>
    <!-- Sidfot -->
    <footer>
      <div id="eventwrapper">
        <div class="threecolumns">
          <p>Kalmar Cykelklubb, Kungsgårdsvägen 34 F</p>
          <p>E-post <a mailto="info@kalmarcykelklubb.se">info@kalmarcykelklubb.se</a></p>
        </div>
        <div class="threecolumns">
          <p>Följ oss på sociala medier: <a href="https://www.facebook.com/Kalmar-cykelklubb-175016142544675/?fref=ts" target="_blank"><i class="fa fa-facebook-official social" style="font-size:36px;"></i></a> </p>
        </div>
        <div class="threecolumns">
          <p>Bilder &copy; <a href="http://www.mattzbirath.se/" target="_blank">fotograf Mattz Birath</a></p>
          <p>Design &amp; produktion av <a href="#" taret="_blanck">midjich.com</a></p>
        </div>
      </div>
    </footer>
    <script src="../public/js/main.js"></script>
  </body>
</html>
