<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Kalmar cykelklubb</title>
    <link rel="stylesheet" href="../style/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <!-- Main section -->
    <header id='navbar'>
      <ul class="menulinks close">
        <li>
          <a href='../index.html'>Hem</a>
        </li>
        <li>
          <a href='../index.html#pagang'>Verksamhet</a>
        </li>
        <li>
          <a href='../index.html#omoss'>Om oss</a>
        </li>
        <li>
          <a href='../index.html#kontakt'>Kontakt</a>
        </li>
        <li>
          <a href='traning.html'>Träna med oss</a>
        </li>
      </ul>
      <a href="https://www.facebook.com/Kalmar-cykelklubb-175016142544675/?fref=ts" target="_blank"><i class="fa fa-facebook-official socialheader" style="font-size:36px;"></i></a>
      <div id="menubtn"><i class="fa fa-bars" aria-hidden="true" style="font-size: 24px; color: #ffffff;"></i></div>
      <a href='medlem.html'><button id="blimedlem">Bli medlem</button></a>
    </header>

    <!-- Bli medlem -->
    <section id='klader'>
      <h2>Profilkläder</h2>
      <p>Vid några tillfällen under året kommer det vara möjligt att beställa Kalmar cykelklubbs egna profilkläder. Sortimentet av kläder kan ni se nedan. Alla beställningar sker via vår sponsor Trimtex.</p>
    </section>
    <section>
      <div class="contentwrapper">
        <div class="bigimg">
          <img src="../img/klader/klader_ett.jpg" alt>
        </div>
        <div class="bigimg">
          <img src="../img/klader/klader_tva.jpg" alt>
        </div>
      </div>
    </section>
      <!-- Sidfot -->
    <footer>

      <div id="eventwrapper">
        <div class="threecolumns">
          <p>Kalmar Cykelklubb, Kungsgårdsvägen 34 F</p>
          <p>E-post <a href="mailto:info@kalmarcykelklubb.se">info@kalmarcykelklubb.se</a></p>
        </div>
        <div class="threecolumns">
          <p>Följ oss på sociala medier: <a href="https://www.facebook.com/Kalmar-cykelklubb-175016142544675/?fref=ts" target="_blank"><i class="fa fa-facebook-official social" style="font-size:36px;"></i></a> </p>
        </div>
        <div class="threecolumns">
          <p>Bilder &copy; <a href="http://www.mattzbirath.se/" target="_blank">fotograf Mattz Birath</a></p>
          <p>Design &amp; produktion av <a href="#" taret="_blanck">midjich.com</a></p>
        </div>
      </div>
    </footer>
    <script src="../public/js/main.js"></script>
  </body>
</html>
