<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Kalmar cykelklubb</title>
    <link rel="stylesheet" href="../style/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <!-- Main section -->
    <section id='medlem'>
      <div id='navbar'>
        <ul class="menulinks close">
          <li>
            <a href='../index.html'>Hem</a>
          </li>
          <li>
            <a href='../index.html#pagang'>Verksamhet</a>
          </li>
          <li>
            <a href='../index.html#omoss'>Om oss</a>
          </li>
          <li>
            <a href='../index.html#kontakt'>Kontakt</a>
          </li>
          <li>
            <a href='traning.html'>Träna med oss</a>
          </li>
          <li>
            <a href='medlem.html'>Bli medlem</a>
          </li>
        </ul>
        <a href="https://www.facebook.com/Kalmar-cykelklubb-175016142544675/?fref=ts" target="_blank"><i class="fa fa-facebook-official socialheader" style="font-size:36px;"></i></a>
        <div id="menubtn"><i class="fa fa-bars" aria-hidden="true" style="font-size: 24px; color: #ffffff;"></i></div>
      </div>
    </section>

    <!-- Bli medlem -->
    <section id='medlemheader'>
      <h2>Bli medlem</h2>
      <p>Är du intresserad av att bli en del av vår gemenskap? Följ då stegen nedan och bli medlem hos oss på nolltid.</p>
      <h4>Medlemsavgifter för 2017</h4>
        <p>350 kr/år för aktiva vuxna</p>
        <p>600 kr/år för familj (två vuxna och barn 0-18 år)</p>
        <p>100 kr/år för ungdomar under 18 år samt stödmedlemmar</p>
    </section>
      <div class="contentwrapper">
        <div class="threecolumns">
          <div class="medlemsimg">
            <img src="../img/nr1.png" class="smallimg">
          </div>
          <div class="medlemstxt">
            <p>Skicka in ditt fullständiga personnummer, namn och e-postadress till <a href="mailto:info@kalmarcykelklubb.se">info@kalmarcykelklubb.se</a></p>
          </div>
        </div>
        <div class="threecolumns">
          <div class="medlemsimg">
            <img src="../img/nr2.png" class="smallimg">
          </div>
          <div class="medlemstxt">
            <p>Betala in medlemsavgiften, märk inbetalningen med ditt namn och personnummer. Inbetalning sker till: BG 5349-8614 eller swish 123 198 48 06</p>
          </div>
        </div>
        <div class="threecolumns">
          <div class="medlemsimg">
            <img src="../img/nr3.png" class="smallimg">
          </div>
          <div class="medlemstxt">
            <p>När vi har registrerat inbetalningen kommer ett välkomstmail att skickas ut till dig. Hoppas vi ser dig på nästa cykelpass.</p>
          </div>
        </div>
      </div>
    </section>
      <!-- Sidfot -->
    <footer>

      <div id="eventwrapper">
        <div class="threecolumns">
          <p>Kalmar Cykelklubb, Kungsgårdsvägen 34 F</p>
          <p>E-post <a href="mailto:info@kalmarcykelklubb.se">info@kalmarcykelklubb.se</a></p>
        </div>
        <div class="threecolumns">
          <p>Följ oss på sociala medier: <a href="https://www.facebook.com/Kalmar-cykelklubb-175016142544675/?fref=ts" target="_blank"><i class="fa fa-facebook-official social" style="font-size:36px;"></i></a> </p>
        </div>
        <div class="threecolumns">
          <p>Bilder &copy; <a href="http://www.mattzbirath.se/" target="_blank">fotograf Mattz Birath</a></p>
          <p>Design &amp; produktion av <a href="#" taret="_blanck">midjich.com</a></p>
        </div>
      </div>
    </footer>
    <script src="../public/js/main.js"></script>
  </body>
</html>
