<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Kalmar cykelklubb</title>
    <link rel="stylesheet" href="../style/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <!-- Main section -->
    <section id='traning'>
      <div id='navbar'>
        <ul class="menulinks close">
          <li>
            <a href='../index.html'>Hem</a>
          </li>
          <li>
            <a href='../index.html#pagang'>Verksamhet</a>
          </li>
          <li>
            <a href='../index.html#omoss'>Om oss</a>
          </li>
          <li>
            <a href='../index.html#kontakt'>Kontakt</a>
          </li>
          <li>
            <a href='traning.html'>Träna med oss</a>
          </li>
        </ul>
        <a href="https://www.facebook.com/Kalmar-cykelklubb-175016142544675/?fref=ts" target="_blank"><i class="fa fa-facebook-official socialheader" style="font-size:36px;"></i></a>
        <div id="menubtn"><i class="fa fa-bars" aria-hidden="true" style="font-size: 24px; color: #ffffff;"></i></div>
        <a href='medlem.html'><button id="blimedlem">Bli medlem</button></a>
      </div>
    </section>

    <!-- Upptäck -->
    <section id='tider'>
      <div id="heading">
        <h2>Träning</h2>
          <p>Vi utgår från klubblokalen</p>
      </div>
      <div class="contentwrapper">
        <div class="columnone">
          <div class="margins">

            <ul>
              <p class="traningstxt">Träningstider</p>
              <li>Tisdagar kl.17:45 ca. 2 timmar</li>
              <li>Torsdagar kl.17:45 ca. 2 timmar</li>
              <li>Söndagar kl.09:00 > 4 timmar</li>
              <p class="traningstxt">Vi ordnar tre fartgrupper.</p>
              <li>Grupp 1: ca. 22-26 km/h (nybörjare och alla som vill ta det lugnt)</li>
              <li>Grupp 2: 27-29 km/h</li>
              <li>Grupp 3: 30+ km/h.</li>
              <p class="traningstxt">Söndags cykling distans</p>
              <li>Grupp 1: 6-8 mil</li>
              <li>Grupp 2: 8-12 mil</li>
              <li>Grupp 3: 12-17 mil</li>
              <p class="traningstxt">Ibland kör alla grupper ihop och splittras t.ex. efter fikat.</p>
              <p class="traningstxt">Seniorerna startar från Lindsdal, St1 macken:</p>
              <li>Onsdagar kl. 18</li>
              <li>Lördagar kl. 10</li>
            <p class="traningstxt">Vid frågor ring Janne Gustavsson, 070-697 31 13.</p>
            </ul>
          </div>
        </div>
        <div class="columntwo">
          <img src="../img/grupp1000x655.jpg"  />
        </div>
      </div>
    </section>
    <section id="traningsinfo">
      <div id="heading">
            <h3>Att tänka på inför varje träning</h3>
            <p>Att ha en ren och välfungerande cykel</p>
            <p>Ta med extra slang, pump och verktyg</p>
            <p>Ha adekvata cykelkläder</p>
            <p>Godkänd cykelhjälm på huvudet</p>
            <p>Ta med id-handling</p>
            <p>Se till att du har en olycksfallsförsäkring</p>
            <p>För fikat ta med en slant eller något eget ätbart.</p>

            <p class="traningstxt">Mottot är att ha trevligt.
            Vi cyklar inte ifrån någon, utan alla ska med hem.
            Då behöver man inte heller vara rädd för att pröva snabbare grupp, när man känner för det.</p>

            <p class="traningstxt">För att få de mer exakta tiderna och uppgifterna för veckans/dagens träningar rekommenderas att du går med i gruppen på <a href="https://www.facebook.com/Kalmar-cykelklubb-175016142544675/?fref=ts" target="_blank">Facebook</a>.</p>
      </div>
    </section>
    <!--Video-->
    <section id="video">
      <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2F175016142544675%2Fvideos%2F925582400821375%2F&show_text=0&width=560" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"  ></iframe>
    </section>
    <section id="grupptraning">
      <h3>Att cykla i grupp</h3>
        <p class="paragraftext">Inom Kalmar CK har vi ”gruppcykling” i motionsform, som i motsatsen till att cykla enskilt är energibesparande och mer socialt.
           Många säger att man cyklar i ”klunga” vilket kan förknippas med tävling eller väldigt stora grupper och är synonymt med
           ”en hop, skock, svärm eller flock” och känns mer oorganiserat med fler i bredd.
           Se bara till att ha en ren och välfungerande cykel med reservslang och verktyg, adekvata cykelkläder,
           hjälm och olycksfallsförsäkring, id-handling samt vatten med anpassat tilltugg (banan) alternativt pengar för fika så kan grupp
           cyklingen börja.</p>

          <p class="paragraftext">Vår målsättning är att aldrig cykla fler än två i bredd, när vägen och trafiken ger möjlighet till detta. När man cyklar
             efter någon eller några i gruppen så kan vindmotståndet minska med upp till 60 %. Vi behöver tydlig kommunikation när vi
             cyklar i grupp och därför har vi regler vi övar på, för att få en säkrare och roligare åkning. Det är aldrig för sent att
             lära sig något nytt. Vanliga trafikregler gäller när vi cyklar i grupp med hänsyn till medtrafikanter. För att allt ska flyta
             på så bra som möjligt är det gynnsamt om vi är förutsägbara i gruppen. Vi håller koll på framförvarande cyklist men även med
             blicken längre fram och åt sidorna, för att gruppcyklingen ska fungera på ett säkert sätt.
             Alla deltar i signalerande och rop när det startas av någon. Vi strävar efter att hålla linjen, dvs. köra rakt gärna med
             lite militärisk disciplin i gruppen. Gör aldrig snabba sidoförflyttningar eller inbromsningar. Gruppen ligger tätt ihop och
             hastiga rörelser kan göra att andra tappar kontrollen. Vi använder oss av typiska tecken för cyklister i grupp. Handsignaler
             och rop för faror och förändringar som bakomvarande inte kan se förmedlas tydligt och klart. Se instruktionerna och lär dig
             dom. En bra regel är att man dricker, äter, sträcker på sig, står upp, när man är sist i gruppen för att minska risken för
             att man tappar balans, flaskor och saker som kan påverka de andra.</p>

          <p class="paragraftext">I gruppcykling tänker vi att alla ska ta sig fram så ekonomiskt som möjligt och därför är det viktigt att tänka på att
            man optimerar den energi som finns i gruppen. Vi kör lagom fort, enligt överenskommelse. I uppförsbackar går det
            långsammare och i nedförsbackar går det snabbare. Den eller de som ligger först och tar vind slutar aldrig att trampa
            i nedförsbackar utan försöker hindra att de bakomvarande rullar på varandra. Uppför ska alla hänga med utan att bränna ut
            sig. Här behöver vi tänka att gruppen är som en kropp som ska hålla ihop. Likaså när vi kommer upp på krönet av en backe,
            vid korsningar eller efter stopp så vill vi inte ha en gummibandseffekt. Om någon sackar efter så ropar vi ”LUCKA”!!! När
            alla är samlade igen så ropar man ”KONTAKT”.</p>
          <p class="paragraftext">Efter ett stopp, korsning eller liknande väntar vi några sekunder så alla är med. Likaså när någon går upp och drar låter
            vi den som dragit, ”hänga på” där bak innan vi eventuellt ökar farten. Hur länge man ligger framme och drar kan bero på vilken
            kraft man har men principen är att byta efter ca en minut med viss variation och överenskommelse i gruppen. Är man trött och sliten så byter man direkt när man kommer fram. Du ska inte trötta ut dig i dragningen till den grad att du inte hänger med när du lägger dig sist. Regeln är: Drar du och tar vind, får du gärna bli flåsig, ligger du på rulle så bör du kunna prata med dina medcyklister. Vi hjälps åt om bekymmer uppstår. Det kan vara punktering eller andra cykel problem. Se till att din cykel fungerar, innan, så minskar vi på bekymren!</p>
          <h4>Gruppen sparar energi</h4>
            <p class="paragraftext">Förutom att man sparar energi så har man det trevligt när man cyklar tillsammans. Hur mycket kraft som sparas genom att
               ligga längre bak i stället för att gå upp i täten och dra beror på hur hög hastigheten är. Du sänker i alla fall din puls och
               andning och kommer längre och snabbare med lägre energiåtgång. Att ha koll på gruppcykling och våga lita på varandra med
               närhet och tecken för faror kan vara avgörande för hur ekonomiskt vi tar oss fram. Vinsten med att ligga på rulle står alltså
               i relation till hur nära varandra cyklisterna kör. Optimal effekt verkar vara när man håller ett avstånd mellan 0 till 0,5
               meter hjul till hjul för att sedan klinga av och till sist ta helt slut när det blir 3 meter eller cirka två cykel längder
               luft mellan cyklisterna.</p>
          <h4>Cykla på ett led</h4>
            <p class="paragraftext">Det här är den enklaste formen av gruppcykling. Vi ligger på ett led rakt bakom varandra där den första cyklisten tar vind
               för de andra. När cyklist nummer ett vill byta tar han försiktigt ett steg ut åt vänster och minskar farten något för att
               glida ner till sista plats i gruppen. Cyklist två tar över dragpositionen och behåller ungefär samma hastighet som tidigare
               dragare hade, så att man inte rusar iväg. Bra att kolla hastighetsmätare innan dragningen. Drag tiden bör normalt inte
               överstiga cirka en minut och kan vara betydligt kortare t.ex. om man känner sig trött och sliten eller om man vill att det
               ska gå extra fort för gruppen. Då ledarcyklisten går ut för byte är det viktigt att han har koll på eventuell trafik som
               kommer bakifrån. Han visar tecken med höger hand och vinkar fram bakomvarande. Är trafiken tät och vägen smal får han vänta
               med bytet.</p>
          <h4>Cykla i två par</h4>
            <p class="paragraftext">Att cykla i dubbelled är vanligt när man är minst fem-sex personer. Fördelen är den självklara draghjälpen men även att det
              blir mer trivsamt och socialt genom att man har möjlighet att prata med alla i gruppen. Oavsett vindriktning ligger man alltid
              rakt efter framförvarande. Den som ligger först i högra ledet bestämmer hastigheten för gruppen. När första cyklist i vänstra
              ledet bestämmer sig för att gå till höger kommunicerar han tydligt med par kollegan och med en handrörelse till höger framåt
              att han går in. Den som går fram till höger ökar något hastigheten och det högra ledet bibehåller hastigheten. Den som gått
              fram blir kvar i den tidigare hastigheten så att ledet hålls intakt. Vänstra ledet håller kontakt jämsides med sitt par till
              höger. För att få en bra medelhastighet är det viktigt att växlingarna blir mjuka, att man kommunicerar med varandra i gruppen
              och att dragningarna inte blir för långa.</p>
          <h4>Belgisk kedja</h4>
            <p class="paragraftext">Det här är cykling i två par. Den stora skillnaden består i att du inte ligger kvar längst framme utan byter led så fort du
              kommer upp. Det här ger vanligtvis en snabbare cykling än vanlig två pars cykling. För att farten inte ska accelerera hela
              tiden är det viktigt att det led som ”går fram” inte ökar hastigheten, istället ska det vara det ”avfallande” ledet som håller
              lägre hastighet. I väl samtränade grupper roterar gruppen antingen medurs eller moturs, beroende på från vilken sida vinden
              ligger. När inte annat överenskommits så roterar vi till höger, eller medurs.</p>
          <h4>Tecken som används vid cykling utomhus</h4>
            <p class="paragraftext">Sikten skyms när vi ligger på rulle i grupp. De tecken vi använder är en ren säkerhetsdetalj, då det är svårt att se hål i
              vägbanan, stoppsignaler osv. Kommunikationen sköts i första hand med tecken bakåt i gruppen och muntligen framåt i gruppen.
              När du ligger framme i gruppen är det viktigt att vara uppmärksam på oförutsedda saker framåt och förmedla dessa till de
              bakomvarande.</p>
          <ul>
            <li>Stanna – en uppåtsträckt hand.</li>
            <li>Sakta ner – pumprörelse med ena handen, handflatan nedåt vägbanan.</li>
            <li>Hinder höger sida – Klapp på höger rumpa eller vinka med höger hand bakom ryggen ”åt vänster”.</li>
            <li>Hinder vänster sida – Klapp på vänster rumpa eller vinka med vänster hand bakom ryggen ”åt höger”.</li>
            <li>Hinder på vägbanan – typ hål, väg brunn, glas, grus – peka ner mot vägbanan med den hand som befinner sig på samma
                sida som hindret. Vid stora hål; ropa "HÅL!"</li>
            <li>Sväng vänster/höger – vanliga svängtecknet. (Lägg märke till eventuellt grus eller annat i kurvor som kan riskera balansen.)</li>
            <li>Omkörande bil/buss – ropa ”bil/buss”. Detta används då det är smal väg. Gruppen behöver gå in i ett led.</li>
            <li>Tät trafik – ledaren kommenderar med att ropa ”ett led” samt genom att sträcka upp ett finger (pekfingret) eller vid många
                deltagare ”ett led lucka”. Det sistnämnda innebär att man grupperar sig en 5-6 cyklister med 10 meters mellanrum till nästa
                grupp osv. Orden ekas genom gruppen.</li>
            <li>Enkel led – ett finger upp. Även detta upprepas längre bak.</li>
            <li>Dubbel led – två fingrar upp. Även detta upprepas längre bak.</li>
          </ul>
    </section>

    <!-- Sidfot -->
    <footer>
      <div id="eventwrapper">
        <div class="threecolumns">
          <p>Kalmar Cykelklubb, Kungsgårdsvägen 34 F</p>
          <p>E-post <a mailto="info@kalmarcykelklubb.se">info@kalmarcykelklubb.se</a></p>
        </div>
        <div class="threecolumns">
          <p>Följ oss på sociala medier: <a href="https://www.facebook.com/Kalmar-cykelklubb-175016142544675/?fref=ts" target="_blank"><i class="fa fa-facebook-official social" style="font-size:36px;"></i></a> </p>
        </div>
        <div class="threecolumns">
          <p>Bilder &copy; <a href="http://www.mattzbirath.se/" target="_blank">fotograf Mattz Birath</a></p>
          <p>Design &amp; produktion av <a href="#" taret="_blanck">midjich.com</a></p>
        </div>
      </div>
    </footer>
    <script src="../public/js/main.js"></script>
  </body>
</html>
